@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #5D5D81;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
header, main, footer {
  text-align: center;
  font-weight: 500;
}
header {
  font-size: 30px;}
main {
  background: #5D5D81;
  display: flex;
  justify-content: center;
  padding: 50px;
}
footer {
  background: #BFCDE0;
  font-size: 25px;
  margin-top: auto;
}
footer > p {
  color: #000505;
}
a:link {
  color: #FEFCFD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #FEFCFD;
}
.container {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.sketch-pad {
  min-height: 500px;
  min-width: 500px;
  border-radius: 15px;
  background: rgb(152, 148, 187); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.board {
  min-height: 400px;
  min-width: 400px;
  border-radius: 15px;
  background-color: white;
  margin-top: 30px;
}
.buttons {
  width: 100%;
  margin: 20px 0px;
  font-size: 25px;
  display: flex;
  align-items: center;

}

button {
  height: 80px;
  width: 80px;
  font-size: 20px;
  border: solid rgba(82, 82, 90, 0.7) 1px;
  box-shadow: 9px -3px 2px 3px rgba(82, 82, 90, 0.7);
  padding: 10px;
  border-radius: 50%;
}
.start-button {
  margin-right: auto;
  margin-left: 12px;
}
.clear-button {
  margin-left: auto;
  margin-right: 20px;

}